PORT=8787
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbygNzxMYfx9eVbalSW69GxLZMPZ-Xbd3FtBDaqC9wW15V6sYtCA9TFHa5VJ_hm6Y8eU/exec
DIFY_BASE_URL=http://localhost
DIFY_APP_API_KEY=
DIFY_RESPONSE_MODE=blocking
EVOLUTION_BASE_URL=http://host.docker.internal:8081
EVOLUTION_INSTANCE=chatwoot-wa
EVOLUTION_API_KEY=
WHATSAPP_FOLLOW_UP_TEMPLATE=Hi {{name}}, thank you for applying for our {{goalLabel}} offer for {{firmName}}. We received your details and will review everything before sending the next steps. If you have anything urgent, reply here and our team will get back to you shortly.
